# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Keys and Secrets
service_account.json
*.pem
*.key
*.p12

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
*.log
